    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">
              <br/><br/>
              <h2>Here's how I can help:</h2>
              <h4>For every customer that can find the answers to their questions using self-service, there is one less call or ticket to your support department.</h4>
              <p>I write the technical documentation that your customers are looking for in order to get started with their new service or to update or configure their existing service: getting started guides, install guides, user guides, release notes, READMEs, and more.</p> 
              <p>Many small web hosting companies do not have or need a full-time technical writer on staff, meaning that someone has to be pulled away from their normal duties to create documentation, or worse yet, no documentation is created at all. This wastes your employees time and leaves your customers frustrated, resulting in needless calls and tickets to tech support. As a freelancer, I can be brought on board only when needed, saving your employees time, saving you money, and increasing customer satisfaction.</p>
              <p>I also offer services such as Content Inventories (an overview of your documentation, when it was last updated, broken links, etc.), software testing (usually hand in hand with new or updated product documentation), and can make recommendations about knowledge base organization and software. </p>
              <p>I offer pricing by the document or by the project, and will work with you to determine your documentation needs and find the best solution. <a href="#contact">Contact me</a> for more information.</p>
                <br/>
              </div>
        </div>
    </section>
